h1 {
    text-align: left;
    text-shadow: 2px 2px 5px red;
    letter-spacing: 3px;
    color: white;
}

a:link,
a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}

.button {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: red;

}


body {
    color: #555;
    line-height: 1.5;
    padding: 25px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    max-width: 50em;
    background-image: url("pics/eero_koristelee.jpg");
    background-repeat: unset;
}

.box-zero {
    margin: auto;
    align-content: center;
    opacity: 0.7;
    max-width: 50em;
    height: 40px;
    padding: 10px;
    margin-bottom: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px grey;
}

.box-one {
    margin: auto;
    align-content: center;
    opacity: 1;
    max-width: 50em;
    height: 1000px;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px grey;
}

#paiva {
    color: #555;
}

#luukku {
    opacity: 1;
}